* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: linear-gradient(to right, #3255a0, #14db57);
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
}

.price-counter {
    position:relative;
    width: 500px;
    /* height: 100%; */
    text-align: center;
    margin: 30px auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #363636;
    color: rgb(211, 210, 210);
    /* line-height: 1.4em; */
    transition: transform .7s, box-shadow .7s;
    /* animation: appear 2s ease-in 1; */
    z-index: 1;
}
.wrapper {
    /* height: max-content; */
    animation: appear 2s ease-in 1; 
}

@keyframes appear {
    from {
        opacity: 0.7;
        height: 0;
        overflow: hidden;
    }
    to {
        opacity: 1;
        height: 100%;
        overflow: hidden;
    }
}

.price-counter:hover {
    transform: scale(1.02);
    box-shadow: 10px 10px 25px #363636;

}

img {
    position: absolute;
    top: 150px;
    left: 30px;
}

@media (max-width: 780px) {
    .price-counter {
        width: 90%;
    }
    img {
        opacity: .5;
    }
    
}