* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: linear-gradient(to right, #3255a0, #14db57);
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
}

.wrapper {
    /* border: 1px solid black; */
    width: 70%; 
    margin: 30px auto;
}

.function-block {
    /* border: 1px solid black; */
    box-shadow: 5px 5px 20px #363636;
    border-radius: 15px;
    position:relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding: 30px;
    margin: 20px 0;
    z-index: 1;

    opacity: 0;
    transition: .9s;
}

.function-form {
    min-height: 150px;
    text-align: center;
    margin-left: -50px;
    margin-right: 50px;
    padding: 10px;
    background-color: #3281a0;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #363636;
    color: rgb(211, 210, 210);
    z-index: 1;
}

form {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /* width: 250px; */
}

input:not(.btn) {
    border: none;
    background: initial;
    border-bottom: 1px solid rgb(163, 211, 181);
    height: 20px;
    margin: 5px 0;
    text-align: center;
}

input:focus {
	outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.btn {
    width: 120px;
    height: 30px;
    margin-bottom: 10px;
    background-color: rgb(163, 211, 181);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color:#2d7794;
    text-shadow: 2px 2px 15px #ffffff;
    transition:0.4s;
    font-size: 18px;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: rgb(131, 202, 159);
    transform: scale(.98)
    
}

i {
    color:rgb(163, 211, 181);
}

#uah, #dollar {
    margin: 15px 10px;
    
}

.function-description {
    max-width: 400px;
    color: #af3b07;
    font-size: 24px;
    line-height: 1.3em;
    text-align:right;
    text-shadow: 2px 2px 35px #ffffff;
}



img {
    position: fixed;
    top: 150px;
    left: 30px;
    opacity: .5;

}

@media (max-width: 780px) {
    .function-block {
        grid-template-columns: 1fr;
    }
    .wrapper {
        width: 85%;
    }
}