* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: linear-gradient(to right, #3255a0, #14db57);
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
}

.number-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/calendar-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 200px auto;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px #363636;
    color: rgb(186 164 164);
    transition: transform .7s, box-shadow .7s;
    z-index: 1;
}

.number-counter:hover {
    transform: scale(1.02);
    box-shadow: 10px 10px 25px #363636;
}

.number-container {
    padding-top: 15px;
    font-size: 44px;
    font-weight: bold;
    color: #287db2;
}

img {
    position: absolute;
    top: 150px;
    left: 30px;
}